:root {
  --white: hsl(0, 0%, 100%);
  --lightgray: hsl(212, 45%, 89%);
  --grayishblue: hsl(220, 15%, 55%);
  --darkblue: hsl(218, 44%, 22%);
}

main {
  background-color: var(--lightgray);
  font-family: "Outfit", sans-serif;
  height: 100vh;
}

.card-custom {
  align-items: center;
  background-color: var(--white);
  border-radius: 1rem !important;
  width: 18rem;
}

#qr-code {
  border-radius: 0.5rem !important;
}

.heading-custom {
  color: var(--darkblue);
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.para-custom {
  color: var(--grayishblue);
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.1rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
